#header{
	/*min-width: 1440px;*/
	width: 100%;
	height: 30px;
	background: #eeeeee;
}
.head{
	width: 1280px;
	height: 30px;
	margin: 0 auto;
}

#header .head_left{
	width: 235px;
	height: 30px;
	/*background: red;*/
	float: left;
	
}
#header .head_right{
	width: 550px;
	height: 30px;
	
	float: right;
	
}
.head_left_pic{
	width: 70px;
	height: 30px;
	
	float: left;
	cursor: pointer;
	position: relative;
}
.head_left_pic .goods_van{
	float: left;
	margin-top: 5px;
	cursor: text;
}
.head_left_pic .arrow{
	float: right;
	margin-top: 10px;
}
.head_left_pic .site{
	color: #000000;
	text-decoration: none;
	line-height: 30px;
	text-align: center;
}
/*.head_left_pic:hover{
	
	background:#fff;
	
}*/

.head_left_pic .select_city{
	width: 300px;
	height: 380px;
	background: #fff;
	position: absolute;
	top: 30px;
	left: 0;
	overflow-y: scroll;
	display: none;
	z-index: 999;
}
.head_left_pic:hover .select_city{
	display: block;
	/*transition:all 0.5s ease 0s;*/
}
.select_city .top_menu{
	width: 258px;
	height: 25px;
	background: #eeeeee;
	margin: 0 auto;
	margin-top: 2px;
	
	
	
	
}
.top_menu>li{
	float: left;
	font-size: 14px;
	line-height: 25px;
    
}
.top_menu>li a{
	color: #000000;
}
.top_menu>li a:hover{
	text-decoration: underline;
}

.select_city span{
	font-size: 14px;
	color: #ccc;
}
.select_city .first_menu li{
	width:258px ;
	height:auto;       
	border-bottom: 1px dotted #666666;
	margin: 0 auto;
	/*background: #eeeeee;*/
	line-height: 34px;
	position: relative;
}
.select_city ul li:hover{
	background: #eeeeee;
}
.select_city ul li:hover a{
	color: #8fb13d;
}
.select_city ul li a{
	margin-left: 10px;
	text-decoration: none;
	color: #000000;
}
.select_city .sec_menu{
	width: 258px;
	height: 102px;
	background: #fff;
	display: none;
	position: relative;
	z-index: 999;
}

.head_left span{
	margin-left:10px ;
	margin-right: 8px;
	line-height: 30px;
	
}
.head_left a{
	color: #8fb13d;
}
.head_left a:hover{
	color: #8fb13d;
	text-decoration: underline;
}
.head_right a:hover{
	color: gold;
}

.head_right ul{
	float: right;
	margin-top: -30px;
}
.head_right>a{
	
	line-height: 30px;
	margin-right: 15px;
}
.head_right ul li{
	float: left;
	width:82px ;
	height: 15px;
	border-right: 1px solid #000;
	line-height: 15px;
	margin-top: 8px;
	text-align: center;
	cursor: pointer;
}
.head_right .fruit{
     position: relative;
}
.head_right .shouji{
     position: relative;
}
.fruit a{
	text-decoration: none;
}
.fruit .notice_thing{
	width: 240px;
	height: 158px;
	background: #fff;
	position: absolute;
	z-index: 999;
	right: 0px;
	top: 22px;
	box-shadow:  5px  5px  8px  #777777,inset 1px -1px 8px #777777;
	display: none;
}
.shouji .download_thing{
	width: 290px;
	height: 290px;
	background: #fff;
	position: absolute;
	z-index: 999;
	top: 22px;
	right: 0px;
	box-shadow:  5px  5px  8px  #777777,inset 1px -1px 8px #777777;
	display: none;
	
}
.download_thing .download_top{
	width: 270px;
	height: 130px;
	/*background: #fff;*/
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 11px;
}
.download_top .tt{
	width: 106px;
	height: 103px;
	float: left;
	margin-top: 7px;
}
.download_top .ap{
	margin-top: 20px;
}
.download_top .an{
	margin-top: 7px;
}
.download_bottom .ren{
	width: 106px;
	height: 103px;
	float: left;
	margin-top: 15px;
	
}
.download_bottom_attention{
	width: 100px;
	height: 45px;
	/*background:#fff;*/
	margin-left: 15px;
	margin-top: 38px;
	float: left;
}
.download_thing .download_bottom{
	width: 270px;
	height: 132px;
	/*background: #fff;*/
	margin: 0 auto;
	border-top: 1px solid #ccc;
}
.notice_thing p{
	width: 212px;
	height: 35px;
	border-bottom: 1px dotted #666666;
	line-height: 35px;
	margin: 0 auto;
	text-align: left;
}
.notice_thing p a:hover{
	color: #8fb13d;
}
.notice_thing .end{
	border-bottom: none;
}

.head_right .fruit:hover{
	
	
	background-color: #fff;
	
}
.head_right .shouji:hover{
	
	
	background-color: #fff;
	
}

.head_right .register{
	width: 92px;
}
.head_right .shouji{
	width: 100px;
	background: url(../img/xiaoshouji.png) no-repeat 10px;
}
.head_right .touxiang{
	width: 140px;
	border-right: none;
	background: url(../img/xiaotouxiang.png) no-repeat 10px;
}
span.sub{       /* 定位*/
	position: absolute;
	width: 30px;
	height: 30px;
	right: 0;
	top: 0;
	background: url(../img/icons.png) no-repeat -120px -220px;
	/*transform: rotate(90deg);*/
}
span.sub.change{
	float: right;
	width: 30px;
	height: 30px;
	background: url(../img/icons.png) no-repeat -120px -220px;
	transform: rotate(90deg);
}