.nav{
	width: 100%;
	height: 120px;
	/*background: yellow;*/
	margin: 0 auto;
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: 50px;
	box-shadow: 0 3px 8px rgba(230,230,230,0.75);
	
}
.nav_pic{
	width: 340px;
	height: 120px;
	background: url(../img/tu.png) no-repeat 0 20px;
	
	margin-left: 75px;
}

.message_tip{
	width: 348px;
	height: 135px;
	/*background: skyblue;*/
	position: absolute;
	top: 50%;
	margin-top: -67px;
	left: 50%;
	margin-left: -174px;
	z-index: 999;
	border: 8px solid rgba(0,0,0,0.3);
	display: none;
	/*cursor: not-allowed;*/
	
	
}
.tip_top{
	width: 348px;
	height: 40px;
	background: #999999;
	overflow: hidden;
}
.tip_top p{
	width: 70px;
	height: 20px;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 15px;
	float: left;
}
.tip_top .close_pic{
	width: 30px;
	height: 25px;
	background: url(../img/cha.png) no-repeat;
	float: right;
	margin-top: 8px;
	margin-right: 5px;
}
.tip_bottom{
	width: 348px;
	height: 95px;
	background: url(../img/wrong.png) no-repeat 20px 30px;
	background-color: #fff;
}

/*会员登录*/
.VIP_login{
	width: 1000px;
	height: 490px;
	/*background: skyblue;*/
	margin: 0 auto;
	margin-bottom: 80px;
	
}
.VIP_login .member{
	width: 1000px;
	height: 60px;
	/*background: red;*/
	border-bottom: 1px solid #ccc;
	line-height: 60px;
	font-size: 20px;
	color: #999999;
}
.VIP_login .login_sec{
	width: 1000px;
	height: 400px;
	/*background:yellow;*/
	margin-top:34px ;
}
.login_sec_left{
	width: 500px;
	height: 400px;
	/*background: darkmagenta;*/
	float: left;
	border: 1px solid #CCCCCC;
	position: relative;
}

.login_register{
	position: absolute;
	width: 153px;
	height: 48px;
	border: 1px solid #008000;
	left: 50%;
	margin-left:-76.5px;
	bottom: 21px;
	text-align: center;
	
}
.login_register .hz{
	
	color: #008000;
	font-size: 18px;
	
	line-height: 48px;
	text-decoration: none;
	
}
.login_sec_right{
	width: 410px;
	height: 255px;
	/*background: sandybrown;*/
	float: right;
	margin-top: 85px;
	position: relative;
}
.true_pic1{
	width: 29px;
	height: 29px;
	background: url(../img/xiaoyuanquan.png) no-repeat;
	position: absolute;
	top: 8px;
	right: -40px;
	display: none;
}
.true_pic2{
	width: 29px;
	height: 29px;
	background: url(../img/xiaoyuanquan.png) no-repeat;
	position: absolute;
	top: 73px;
	right: -40px;
	display: none;
}
.login_phone{
	width: 410px;
	height: 40px;
	/*background: red;*/
	margin-bottom: 25px;
	line-height: 40px;
	font-size:16px ;
	color: #999999;
}
.login_phone span{
	margin-left: 24px;
}
.login_phone input{
	width: 300px;
	height: 35px;
	margin-left: 38px;
	padding: 0 10px;
	box-sizing: border-box;
	
	
	
}
.longin_password{
	width: 410px;
	height: 40px;
	/*background: darkgreen;*/
	margin-bottom: 40px;
	font-size:16px ;
	color: #999999;line-height: 40px;
	
}
.longin_password span{
	margin-left: 40px;
}
.longin_password input{
	width: 300px;
	height: 35px;
	margin-left: 38px;
	padding: 0 10px;
	box-sizing: border-box;
	
	
}
.longin_attention{
	width: 300px;
	height: 35px;
	/*background: darkorange;*/
	margin-bottom: 20px;
	font-size: 16px;
	margin-left: 110px;
	line-height: 35px;
	
}
.longin_attention input{
	width: 18px;
	height: 18px;
	
}
.longin_attention a{
	float: right;
	margin-left: 4px;
	/*text-decoration:underline;*/
	color: #999999;
}
.longin_attention a:hover{
	color: #999999;
}


.longin_button{
	width: 300px;
	height: 50px;
	/*background: skyblue;*/
	margin-left: 110px;
}
.longin_button .delu{
	width: 143px;
	height: 38px;
	background: #008000;
	border-radius: 4px;
	float: left;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 38px;
	
}
.longin_button .zhuce{
	width: 143px;
	height: 38px;
	background: #f5ffed;
	border: 1px solid #008000;
	float: right;
	border-radius: 4px;
	text-align: center;
	line-height: 38px;
	color: #008000;
	font-size: 20px;
}
